@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable number input spinners and scroll wheel value changes on Web */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
